.exampletype {
/* pane specific overrides for type widget */
}
.exampletype.updating {
/* pane specific overrides for type widget */
}
.example-hello {
    font-size: x-large;
    color:black;
}

.button.close-button {
    float: right;
}

.hide {
    display: none;
}

.button.reset-button {
    bottom: 11px;
    position: fixed;
    right: 11px;
    font-size: 9px;
    padding: 5px 10px;
}
