config.js
custom.css
logo.png
manifest.json
browserconfig.xml
TypeSupport/*
!TypeSupport/example.css
!TypeSupport/example.js
!TypeSupport/example.png
!TypeSupport/readme.md
!TypeSupport/typeSupport.js
