:root {
  --navwidth: 200px;
  --blue: #01acef;
  --darkblue: #2a48da;
  --green: #6ba443;
}
body {
  background: #f0f0f0;
  color: var(--darkblue);
  font-family: "Encode Sans Condensed",sans-serif;
  letter-spacing: .01em;
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
} 
button {
  color: black;
  font-family: "Encode Sans Condensed",sans-serif;
  letter-spacing: .01em;
  padding: 10px 20px;
  text-transform: uppercase;
}
h1 {
  background: var(--blue);
  color: #ffffff;
  font-weight: bolder;
  font-size: 18px;
  margin-top: 0;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
}
.content {
  margin: 0px;
  margin-top:-10px;
  position: absolute;
  top: 120px; /* Header Height */
  bottom: 0px; /* Footer Height */
  display: flex;
  width: 100%;
} 
.logo {
  height: 50px;
  padding-left: 25px;
  width: auto;
} 
.toptitle {
  background-color: var(--darkblue);
  padding: 10px 20px;
}
#layout {
  display: flex;
  width: 100%;
}
#machines {}
#details {
  background: lightgray;
  border-radius: 4px;
  margin: 11px;
  padding: 10px;
  width: 100%;
}
@media screen and (max-width: 640px) {
  #layout {
    flex-flow: column;
  }
  #details {
    width: initial !important;
    margin-left: 0px;
  }
  #machineName {
    border: 1px solid dimgray;
  }
  #machineName:hover {
    border: 1px solid blue;
  }
}

/* Settings popup */
#settings {
  padding: 18px;
  background-color:lightgray;
  border:1px solid rgb(99, 99, 99);
  color:black;
  border-radius: 8px;
  position: absolute;
  top: 72px;
  right: 60px;
  z-index: 1; 
  width: 230; 
  height: 380; 
  overflow: auto;
  -webkit-box-shadow: rgb(0 0 0 / 30%) 0 1px 10px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 10px;
  box-shadow: rgb(0 0 0 / 30%) 0 1px 10px;
}
#settings p {
  text-align: center;font-weight: bold;
}
#settings select {
  min-width: 190px;
  margin-top: 4px;
  margin-bottom: 8px;
  padding:4px;
}
#settings input[type="text"] {
  margin-top: 4px;
  margin-bottom: 8px;
  padding:4px;
}
#settings input[type="password"] {
  margin-top: 4px;
  margin-bottom: 8px;
  padding:4px;
}
#settings input[type="submit"] {
  padding:8px;
}

/** Navigation **/
.top-nav {
    z-index: 11;
}

.menu {
  padding: 0;
  width: min-content;
}

.menu-button-container {
  align-items: center;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 30px;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  background-color: #ffffff;
  border-radius: 2px;
  display: block;
  height: 4px;
  position: absolute;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  width: 30px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
    position: absolute;
    top: -23px;
    left: 15px;
  }

  .menu {
    background: #f0f0f0;
    box-shadow: rgb(0 0 0 / 30%) 0 10px 15px;
    height: 100%;
    margin-top: 0;
    position: absolute;
  }

  #menu-toggle ~ .menu li, #menu-toggle ~ .menu li p, #menu-toggle ~ .menu li img {
    display: none;
  }

  #menu-toggle:checked ~ .menu li, #menu-toggle:checked ~ .menu li p, #menu-toggle:checked ~ .menu li img {
    display: inline-grid;
    height: auto;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .menu li img {
    margin: 0 auto;
  }
}
